CREATE OR REPLACE FUNCTION increment_visitor_count() RETURNS void AS SELECT * FROM site_stats; BEGIN UPDATE site_stats SET visitor_count = visitor_count + 1 WHERE id = 1; END; SELECT * FROM site_stats; LANGUAGE plpgsql;
